# The location of the ground station
OBSERVER_LATITUDE  = 39.1031
OBSERVER_LONGITUDE = -84.5120
# Currently unused, feet above sea level
OBSERVER_ELEVATION = 796

# The delay between rotation steps
# smaller delay means more accurate movements
# at the cost of taking longer to send 
# instructions to the controller
# There is also a hard limit to the number
# of instructions that can be loaded at a given
# time
SECONDS_BETWEEN_STEPS = 1

# The serial device which talks to the GS232
GS232_SERIAL_DEVICE = "/dev/ttyUSB0"

# The maximum degrees the azimuth rotator can turn
AZIMUTH_DEGREE_MODE = 450


# The cardinal direction of 0 degrees for the azimuth
# can be either `south` or `north`
CENTER_MODE = "south"

# Length of time in seconds before a cached TLE is too old
CACHE_TIMEOUT = 86400
# Directory to cache TLEs in
CACHE_DIR = "./data"

# The Celestrak catalog number of LEOPARDSAT (or any other satellite)
# 25544 for ISS
LEOPARDSAT_CATALOG_NUMBER = 25544